<div class="container">
  <div class="row justify-content-md-center row-login-margin">
    <div class="col-md-4 col-md-offset-4 content-login mt-5">
      <div class="login-panel panel panel-default">
        <div class="panel-heading text-center">
          <!--<h3 class="display-4"><strong>Control de Personal - SAI</strong></h3>-->
          <h3>
            Angular Login Demo <hr>
            <!--<small class="text-muted">SAI</small>-->
          </h3>

          <app-alert [alertShow]="alertShow" [alertClass]="alertClass" [alertMessage]="alertMessage"></app-alert>

        </div>

        <div class="panel-body">

          <img [ngClass]="['loginIcon']" [src]="['assets/images/nuevologosai2.png']" class="img-responsive" alt="Responsive image">
          <br>

          <form [ngClass]="['text-center']" novalidate>
            <fieldset>

              <div class="form-group">
                <input class="form-control" placeholder="Usuario" [(ngModel)]="userData.username" name="user" type="text" autofocus>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Contraseña" [(ngModel)]="userData.password" name="password" type="password" value="">
              </div>
              <button (click)="attemptLogin()" [disabled]="loadLogin" class="btn btn-success btn-lg">Iniciar Sesión <span *ngIf="loadLogin"><i class="fa fa-sync fa-spin"></i></span></button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
